<component name="libraryTable">
  <library name="spring-webmvc-portlet-3.2.0.RELEASE">
    <CLASSES>
      <root url="jar://D:/JAVAEE_DEV/jar/springmvcjar_94641/Spring MVC jar 3.2.0/spring-webmvc-portlet-3.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>